<!-- TEMPLATE RAVEN - MIT LICENSE -->
<!-- https://github.com/template-raven -->

<%- include ('../partials/ot') %>


<!-- Unique meta tags ↓ -->
<meta name="description" content="A template for a templating engine. EJS Starter is a boilerplate for developers who codes using express and ejs.">


<!-- Title ↓ -->
<title>EJS Starter Template</title>

<!-- Global links and head scripts ↓ -->
  <%- include ('../partials/link') %>

  </head>

  <body>
    <!-- Navbar -->
    <%- include ('../partials/nav') %>


    <!-- Main Content -->
    <section>
      <div class="container">
      <h1 class="highlight">
        <div class="symbol">
          <span><</span>
          <span>%</span>
          <span>=</span>
        </div>

        <div>EJS</div>
        <div class="symbol">
          <span>%</span>
          <span>></span>
        </div>
      </h1>

      <p class="intro">A template for a templating engine.</p>
      <a href="https://github.com/template-raven/ejs-starter/archive/master.zip" download="EJS Starter">Download</a>
    </div>
    </section>


  <!-- Footer -->
  <%- include ('../partials/footer') %>

  <!-- Script -->
  <%- include ('../partials/script') %>
  
  <!-- Closing tags -->
  <%- include ('../partials/ct') %>